.container {
    min-height: 100vh; /* Garante que o container tenha pelo menos a altura da viewport */
  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #cc2a2a;
    padding: 10px;
  }
  
  
  